img {
    width:75px;
}

.icon{
    padding: 30px 0 30px 7px;
}

#toggle {
    width: 100px;
    height: 100%;
    background: #ccc;
}

.desaturate{
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(#greyscale);
    filter: gray;
}
