img {
    width:75px;
}

.icon{
    margin: 40px 0 0 7px;
}

#toggle {
    width: 100px;
    height: 100%;
    background: #fff;
    display: none;
}

.star-rating {
    line-height:32px;
    font-size:1.25em;
    cursor: pointer;
    display: none;
}

.fa {
    font-size: 12px;
}

.submit {
    margin: 20px 0 0 15px;
}